.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: $color-grey-light-1;
  border-bottom: 1px solid $color-grey-light-2;

  @include mQuery(screen and tab-port){
    padding: 2rem;
  }
}

.description {
  background-color: $color-white;
  box-shadow: 0 2rem 5rem rgba($color-black, .06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @include mQuery(screen and tab-port){
    padding: 2rem;
    margin-right: 3rem;
  }
}

.user-reviews {
  text-align: center;
  flex: 1;
}