.btn-inline{
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid currentColor;
  color: $color-primary-dark;
  padding-bottom: 2px;
  font-size: inherit;
  display: inline-block;
  background-color: transparent;
  transition: all .2s;

  &:hover{
    color: $color-grey-dark-3;
  }

  &:focus{
    outline: none;
    animation: pulse 1s infinite;
  }
}