.overview {
  background-color: $color-white;
  display: flex;
  border-bottom: 1px solid $color-grey-light-2;
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: $color-primary-dark;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: $color-primary-dark;
    margin-left: 3rem;
    color: $color-white;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;
    }

    &-count {
      font-size: .8rem;
      text-transform: uppercase;
    }
  }
}