.user-nav{
background-color: green;
  &__icon-box {

  }

  &__icon{
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification{

  }

  &__user {

    &-photo {
      height: 4rem;
      border-radius: 50%;
    }

    &-name {

    }
  }
}